body {
  font-family: sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

#numeric-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

#display {
  height: 200px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.numpad {
  background-color: #fff;
  text-align: center;
  padding: 3rem 0;
  font-size: 4rem;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  cursor: pointer;
  grid-row-gap: 1rem;
  border: none;
  background: none;
  outline: none;
}

.numpad:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.numpad:active {
  outline: none;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 300%;
  }
}
