body {
  font-family: sans-serif;
  margin: 0;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#numeric-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  flex-grow: 2;
}

#display {
  min-height: 200px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  flex-grow: 1;
}

.numpad {
  background-color: #fff;
  text-align: center;
  font-size: 4rem;
  cursor: pointer;
  grid-row-gap: 1rem;
  border: none;
  background: none;
  outline: none;
}

.numpad:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.numpad:active {
  outline: none;
  transform: scale(1.1);
  transition: transform 0.3s ease-out;
}

